#M2 T01

#Exercici 1
#Cal crear una llista que agrupi els mesos de l'any en trimestres, és a dir, una llista amb quatre llistes.

In [79]:
listaT1 = ["Enero", "Febrero", "Marzo"]
listaT2 = ["Abril", "Mayo", "Junio"]
listaT3 = ["Julio", "Agosto", "Septiembre"]
listaT4 = ["Octubre", "Noviembre", "Diciembre"]

lista_anualidad = [listaT1, listaT2, listaT3, listaT4]
print(lista_anualidad)

[['Enero', 'Febrero', 'Marzo'], ['Abril', 'Mayo', 'Junio'], ['Julio', 'Agosto', 'Septiembre'], ['Octubre', 'Noviembre', 'Diciembre']]

#Exercici 2

#Crea un codi que permeti accedir al segon mes del primer trimestre.

In [80]:
posicion_trimestre=0
x=lista_anualidad[posicion_trimestre]
print(x[1])

Febrero

#Crea un codi que permeti accedir els mesos del primer trimestre.

In [81]:
print(lista_anualidad[0])

['Enero', 'Febrero', 'Marzo']

#Crea un codi que permeti accedir a setembre i octubre.

In [82]:
print(listaT3[2], listaT4[0])

Septiembre Octubre

#Exercici 3

#Crea una llista amb nombres desordenats i respón a les preguntes:

In [83]:
lista_numeros=[2,3,23,7,8,5,15,3,0,10,35,6,4,42,28]
print(lista_numeros)
print(type(lista_numeros))

[2, 3, 23, 7, 8, 5, 15, 3, 0, 10, 35, 6, 4, 42, 28]
<class 'list'>

#Quants números hi ha?

In [84]:
print(len(lista_numeros))

15

#Quantes vegades apareix el número 3?

In [85]:
lista_numeros.count(3)

2

#Quantes vegades apareixen els nombres 3 i 4?

In [86]:
x=lista_numeros.count(3)
y=lista_numeros.count(4)

print("El número 3 apareix ", x, "vegades, i el número 4 apareix ", y, "vegades.")

El número 3 apareix  2 vegades, i el número 4 apareix  1 vegades.

#Quin és el número més gran?

In [87]:
lista_numeros.sort()
print(lista_numeros)
print(len(lista_numeros))
print(lista_numeros[len(lista_numeros)-1])
z=lista_numeros[len(lista_numeros)-1]
print("El número més gran és el ",z,".")

[0, 2, 3, 3, 4, 5, 6, 7, 8, 10, 15, 23, 28, 35, 42]
15
42
El número més gran és el  42 .

#Quins son els tres números més petits?

In [88]:
for i in range(0,3):
    print(lista_numeros[i])

0
2
3

#Quin és el rang d'aquesta llista?

In [89]:
rango=len(lista_numeros)-1
print("El rango de la lista es ",rango,".")

El rango de la lista es  14 .

#Exercici 4
#Crea un diccionari de la següent forma i respòn a les preguntes:

In [125]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

In [126]:
type(compra)

dict

#Afegeix alguna fruita més

In [127]:
compra.update({"taronges" : {"Qty": 6, "€": 0.73}})
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'taronges': {'Qty': 6, '€': 0.73}}

#Quant han costat les peres en total?

In [128]:
cost_total_pomes={"Qty": 5, "€": 0.42}
type(cost_total_pomes)
cost_total_peres={'Qty': 3, '€': 0.66}
type(cost_total_peres)
cost_total_taronges={"Qty": 6, "€": 0.73}
type(cost_total_taronges)

print(compra[[1]1])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3780083943.py, line 8)

#Quantes fruites hem comprat en total?

#Quina és la fruita més cara?